/* Estilos básicos para a tela principal */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    padding: 10px 0;
    text-align: center;
    color: rgb(255, 255, 255);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000; 
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.logo {
    width: 150px; /* Ajuste do tamanho da logo */
}

.user-info {
    margin-top: 10px;
}

main {
    padding: 20px;
}

.produto-lista {
    display: grid; /* Usando grid para organizar os produtos */
    grid-template-columns: repeat(4, 1fr); /* Quatro produtos por linha */
    gap: 20px; /* Espaçamento entre os produtos */
}

.produto-lista .produto {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center; /* Centraliza o texto do produto */
}

.produto-lista .produto img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #000000;
    color: rgb(255, 255, 255); /* Ajustado para ficar visível no fundo escuro */
    padding: 20px;
    text-align: center;
}

footer nav {
    margin-bottom: 10px;
}

footer nav ul {
    list-style-type: none;
    padding: 0;
}

footer nav ul li {
    display: inline;
    margin-right: 15px;
}

footer nav ul li a {
    color: white;
    text-decoration: none;
}

footer p {
    margin: 0;
}

