/* Estilos para a página de cadastro de usuário */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.logo {
    width: 150px; /* Ajuste o tamanho da logo conforme necessário */
}

nav {
    display: flex;
    justify-content: center; /* Centraliza os itens no nav */
    background-color: gold; /* Cor de fundo do menu */
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Permite que os itens sejam exibidos horizontalmente */
}

nav ul li {
    margin: 0 15px; /* Adiciona espaço horizontal entre os itens */
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}


main {
    padding: 20px;
}

form {
    background-color: white;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input {
    width: calc(100% - 20px); /* Ajusta para preencher com margens */
    padding: 10px;
    margin-bottom: 20px;
}

button {
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

footer nav {
    margin-top: 10px;
}

footer nav ul {
    list-style-type: none;
    padding: 0;
}

footer nav ul li {
    display: inline;
    margin-right: 15px;
}

footer nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}