/* Estilo para o corpo da página */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #8b7a6f;
  font-size: 18px;
}

/* Estilo para o formulário */
form {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(177, 27, 27, 0.1);
}

/* Estilo para os campos de entrada */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ff6600;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Estilo para os botões */
input[type="submit"],
input[type="reset"] {
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff4d00;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #45a049;
}

/* Estilo para o rodapé */
footer {
  margin-top: 20px;
  text-align: center;
}

/* Estilo para o logotipo no rodapé */
.footer-logo {
  margin-top: 20px;
}

.footer-logo img {
  width: 50px;
  height: auto;
}

/* Estilo para os rótulos dos campos */
label {
  font-weight: bold;
}

/* Estilo para a área de seleção */
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ff6600;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Estilo para a área de texto */
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Novo estilo para o código de verificação 2FA */
#codigo_2fa {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ff6600;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Estilo para o botão de envio de código 2FA */
#enviar_codigo {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff4d00;
  color: #fff;
  cursor: pointer;
}

#enviar_codigo:hover {
  background-color: #45a049;
}
