html {
  background-image: url(ON\ MARKET/azul.jpg);
  background-origin: content-box;
  background-size: cover;
}

body {
  font-family:" Arial," "helevetica""sans-serif""lucido sans";
}

body {
  color:#f0e80f
}

img {
  width: 300px;
  height: 300px; 
  padding: 40px 8%;
}

p {
 font-size: 20px;
}