/* Estilos básicos */
body {
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  background-color: white;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

header {
  background-color: #ff6600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  height: 50px;
  width: 75px;
}

.titulo {
  color: #07071b;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
  font-size: 18px;
}

nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

nav ul li {
  margin-right: 20px;
  position: relative;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #07071B;
  text-decoration: none;
  font-size: 18px;
}

nav ul li a:hover,
nav ul li a:focus {
  color: #e65c00;
}

nav ul li img.dark-icon {
  width: 30px;
  height: 30px;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #faf9f9;
  padding: 10px;
}

.barra-navegacao li:hover ul.sub-menu {
  display: block;
}

.banner {
  background: url('img/banner.jpg') no-repeat center center;
  background-size: cover;
  color: #0f100f;
  text-align: center;
  padding: 60px 20px;
}

.banner h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.banner p {
  font-size: 18px;
  margin-bottom: 30px;
}

.banner-button {
  background-color: #ff6600;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
}

.banner-button:hover {
  background-color: #e65c00;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.carousel {
  position: relative;
  max-width: 300px;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 300px;
  text-align: center;
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.carousel-item p {
  margin-top: 10px;
  font-size: 18px;
}

.carousel-button {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  transition: background-color 0.3s;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.product-info {
  text-align: center;
  max-width: 300px;
}

.product-info img {
  width: 50px;
  height: 50px;
}

.product-info p {
  margin-top: 10px;
  font-size: 18px;
}

.destaque-button {
  background-color: #ff6600;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin-left: 20px; /* Adicionado para mover o botão para a direita */
  margin-bottom: 20px;
}

.destaque-button:hover {
  background-color: #e65c00;
}

main {
  padding: 20px;
}

footer {
  background: #ff6600;
  color: black;
  text-align: center;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

#pagamentos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.footer-logo img {
  width: 60px;
  height: 50px;
  margin-right: 10px;
}

.footer-logo p {
  margin: 0;
  font-size: 18px;
  color: #07071B;
}

.cart-icon {
  width: 30px;
  height: 30px;
}

button {
  background-color: #ff6600;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px 0;
  display: block;
  text-align: center;
}

.cart {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 300px;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  display: none;
  z-index: 1000;
  border-radius: 15px; /* Adicionado para bordas arredondadas */
}

.cart h2 {
  color: #ff6600;
  margin-top: 0;
}

#cart-items {
  list-style-type: none;
  padding: 0;
}

#cart-items li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.dark-mode .banner {
  background: url('img/banner_dark.jpg') no-repeat center center;
  background-size: cover;
}

.dark-mode header {
  background-color: #333333;
}

.dark-mode footer {
  background-color: #333333;
  color: white;
}

.dark-mode h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: white;
}

.dark-mode h3 {
  font-size: 20px;
  margin-bottom: 20px;
  color: black;
}

.dark-mode h4 {
  font-size: 20px;
  margin-bottom: 20px;
  color: black;
}

.dark-mode p {
  font-size: 18px;
  margin-bottom: 30px;
  color: white;
}

.dark-mode .destaque-button {
  color: black;
}

.dark-mode .cart {
  background-color: black;
  color: white;
}

/* Animação para piscar */
@keyframes blink {
  0%, 100% {
    color: #ffffff;
  }
  50% {
    color: #ff6600;
  }
}

/* Aplicar animação aos itens do menu de navegação no modo escuro */
.dark-mode nav ul li a:hover {
  animation: blink 1s infinite;
}
