/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: white;
    transition: background-color 0.3s, color 0.3s;
    text-align: center; /* Centraliza o texto do body */
  }
  
  body.dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
  
  header {
    background-color: #ff6600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo img {
    height: 50px;
    width: 75px;
  }
  
  .titulo {
    color: #07071b;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    font-size: 18px;
  }
  
  nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: auto;
  }
  
  nav ul li {
    margin-right: 20px;
    position: relative;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: #07071B;
    text-decoration: none;
    font-size: 18px;
  }
  
  nav ul li a:hover,
  nav ul li a:focus {
    color: #e65c00;
  }
  
  nav ul li img.dark-icon {
    width: 30px;
    height: 30px;
  }
  
  .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #faf9f9;
    padding: 10px;
  }
  
  .barra-navegacao li:hover ul.sub-menu {
    display: block;
  }
  
  .info-nao-logado {
    padding: 20px;
    margin-top: 20px;
  }
  
  .info-nao-logado h2 {
    margin-bottom: 10px;
  }
  
  .info-nao-logado p {
    margin-bottom: 15px;
  }
  
  .info-nao-logado .btn {
    background-color: #ff6600;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .info-nao-logado .btn:hover {
    background-color: #e65c00;
  }
  
  footer {
    background: #ff6600;
    color: black;
    text-align: center;
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
  }
  
  .dark-mode footer {
    background-color: #333333;
    color: white;
  }
  