/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #333;
}

/* Estilo dos cabeçalhos */
.titulo {
    text-align: center;
    font-size: 2em;
    color: #0066cc;
    margin-bottom: 20px;
}

/* Estilo das seções de informações */
.section {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.section h2 {
    color: #333;
    margin-bottom: 15px;
    font-size: 1.5em;
}

/* Estilo para o modo escuro */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .section {
    background-color: #333333;
    color: #ffffff;
}

/* Botões alinhados com o estilo do menu de navegação */
.botao-container {
    display: flex;
    justify-content: center; /* Alinha os botões ao centro */
    gap: 10px; /* Espaço entre os botões */
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    background-color: #004da8;
}

/* Ajuste dos botões no modo escuro */
body.dark-mode .btn {
    background-color: #1f78d1;
}

body.dark-mode .btn:hover {
    background-color: #1565aa;
}
