body {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  background-color: #07071B;
}

header {
  background-color: #ff6600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo img {
  height: 50px;
  width: 75px;
}

.titulo {
  color: #07071b;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 10px;
  font-size: 18px;
}

nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: auto;
}

nav ul li {
  margin-right: 20px;
  position: relative;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #07071B;
  text-decoration: none;
  font-size: 18px;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #faf9f9;
  padding: 10px;
}

.barra-navegacao li:hover ul.sub-menu {
  display: block;
}

.search-input {
  border: none;
  padding: 5px;
  background-color: #fafafa;
  color: #000000;
  float: left;
}

.search-button {
  background-color: #ff6600;
  color: #000000;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  float: left;
}

img {
  width: 300px;
  height: 300px;
  padding: 40px 8%;
}

h1 {
  font-size: 30px;
  color: #11fd0d;
}

p {
  font-size: 20px;
  color: #22ff05;
}

option {
  font-size: 20px;
}

label {
  font-size: 20px;
}

li {
  font-size: 20px;
}


footer {
  background: #ff6600;
  color: black;
  text-align: center;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.footer-logo img {
  width: 60px;
  /* Aumentar o tamanho da logo no footer */
  height: 50px;
  margin-right: 10px;
}

.footer-logo p {
  margin: 0;
  font-size: 18px;
  color: #07071B;
}